<h2>This is the shopping cart!</h2>
<% if @current_order %>
  <% @current_order.order_products.each do |op| %>
    <p><%= "Product ID: #{op.product_id}, Quantity: #{op.quantity}" %></p>
  <% end %>
<% else %>
  <p>Nothing here yet... go shopping!</p>
<% end %>
