// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.card-footer.order-product-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.order-product-actions > a.btn {
  margin-left: 0.5rem;
}

article.checkout-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.cart {
  display: flex;
  flex-direction: column;
}

article.cart.card {
  margin-top: 0.5rem;
}

div.cart.container-fluid {
  margin-top: 1rem;
  padding: 0;
}
