<h2>List of Products</h2>



<section >
    <table >
      <thead>
        <tr>
          <th>Name</th>
          <th>Seller</th>
          <th>Created at</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product|%>
          <tr>
            <td><%= link_to "#{product.name}", product_path(product.id) %></td>
            <td><%= product.user %></td>
            <td><%= product.created_at %></td>

          </tr>
        <%end%>
      </tbody>
   </table>
</section>
